.closeButton {
  background: rgb(0 0 0 / 50%);
  opacity: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  transition: opacity 0.25s ease;
  z-index: 10;
}

.videoWrapper {
  background-color: #000;
  position: relative;

  &:hover {
    .closeButton {
      opacity: 1;
    }
  }
}

.videoFrame {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.videoPlaceholder {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
