.navbar {
  background-color: var(--mantine-color-gray-0);

  /* Prevent modal overlay from being underneath navbar */
  z-index: 50;
}

.navLink {
  &:where([data-active]) {
    background-color: var(--mantine-color-gray-1);
    color: var(--mantine-color-gray-8);
    font-weight: 700;
  }

  &:hover {
    background-color: var(--mantine-color-gray-1);
  }
}
