.accordion {
  border-radius: 6px;
  width: 100%;

  &__header {
    display: flex;
    margin: 1rem 0;
  }

  &__item {
    border-top: $gray-4;
    margin-top: 1px;
    overflow: hidden;

    &:last-child {
      border-bottom: $gray-4;
    }

    &[data-disabled] {
      color: $disabled-text;
      pointer-events: none;
    }
  }

  &__trigger,
  &__content {
    padding: 0 1rem;
  }

  &__trigger {
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid $gray-4;
    border-top: 1px solid $gray-4;
    display: flex;
    flex: 1;
    height: 3rem;
    justify-content: space-between;
    line-height: 1rem;

    &:hover {
      background-color: $gray-4;
    }
  }

  &__icon {
    color: $gray-3;
    height: 15px;
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);

    [data-state="open"] & {
      transform: rotate(135deg);
    }

    &--disabled {
      opacity: 0.3;
    }
  }

  &__content {
    opacity: 1;
    overflow: hidden;
    transition: opacity 300ms;

    &[data-state="open"] {
      animation: slideDown 300ms ease;
    }

    &[data-state="closed"] {
      display: none;
      opacity: 0;
    }
  }

  &__content-text {
    padding-bottom: calc(1.5rem + 8px);
    padding-top: 0.5rem;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}
