.modal {
  position: relative;
  z-index: 100;

  &__error {
    color: $red;
    font-size: 12px;
    margin-top: 20px;
  }

  &__content {
    background-color: $white;
    border-radius: 6px;
    box-shadow: $dark-gradient-2;
    display: flex;
    flex-direction: column;
    left: 50%;
    padding: 32px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;

    &__body {
      height: 100%;
      overflow-y: auto;

      &__title {
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }
    }

    &--xs {
      max-height: 48%;
      max-width: 24%;
    }

    &--sm {
      max-height: 72%;
      max-width: 36%;
    }

    &--md {
      max-height: 84%;
      max-width: 48%;
    }

    &--lg {
      max-height: 96%;
      max-width: 72%;
    }
  }

  &__overlay {
    background-color: $dark-opacity;
    inset: 0;
    position: fixed;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;

    button:first-child {
      margin-right: 0.5rem;
    }
  }

  &__loader {
    .lds-ellipsis {
      height: 25px;
      width: 25px;
    }

    .lds-ellipsis__element {
      background-color: $white;
      height: 5px;
      top: 50%;
      width: 5px;
    }

    .lds-ellipsis__element:nth-child(1) {
      animation: lds-ellipsis1-button 0.6s infinite;
      left: 3px;
    }

    .lds-ellipsis__element:nth-child(2) {
      animation: lds-ellipsis2-button 0.6s infinite;
      left: 3px;
    }

    .lds-ellipsis__element:nth-child(3) {
      animation: lds-ellipsis2-button 0.6s infinite;
      left: 10px;
    }

    .lds-ellipsis__element:nth-child(4) {
      animation: lds-ellipsis3-button 0.6s infinite;
      left: 17px;
    }
  }
}
