.monitor {
  &__grid-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  &__grid-item-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
  }

  &__video-wrapper {
    background-color: $black;
  }

  &__grid-item-details {
    background: linear-gradient(0deg, $dark-gradient-1);
    color: $white;
    display: flex;
    flex: 1;
    padding: 0.5rem 0.75rem;
  }

  &__grid-item-details-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__grid-item-title {
    font-weight: 700;
  }

  &__grid-item-id {
    font-size: 0.8rem;
  }

  &__grid-item-link {
    font-size: 0.6rem;
    max-height: 35px;
    overflow: hidden;
    text-decoration: underline;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
  }

  &__grid-item-link-text {
    height: 100%;
    text-overflow: ellipsis;
  }
}
