.navigation {
  background: $gray-1;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  min-width: 165px;
  padding: 0.5rem 0;
  user-select: none;
  width: 165px;

  &__link {
    align-items: center;
    color: $gray-3;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    height: 45px;
    padding: 0 1rem;
    position: relative;

    &.active {
      font-weight: 700;
    }

    &:hover {
      background-color: $gray-2;
      font-weight: 700;
    }

    .image-icon {
      display: flex;
      flex: 0 0 25px;
    }
  }
}
