.streams {
  &__empty-data-table {
    display: flex;
    flex-direction: column;
    pointer-events: all;
  }

  &__empty-data-table-text {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 6px 0;
  }
}
