.streams {
  &__grid-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__grid-item-container {
    display: flex;
    flex-direction: column;
  }

  &__video-wrapper {
    background-color: $black;
    width: 300px;
  }

  &__grid-item-details {
    background: linear-gradient(0deg, $dark-gradient-1);
    color: $white;
    font-weight: 700;
    padding: 1rem;
  }
}
