.table {
  width: 100%;

  &__header {
    display: table-header-group;
    font-weight: 500;
  }

  &__header-row {
    background-color: $gray-1;
    display: table-row;
  }

  &__body {
    display: table-row-group;
  }

  &__body-row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
    padding: 1rem;
    text-align: left;
  }
}
