/* stylelint-disable scss/dollar-variable-empty-line-before */
$gray-1: #f5f5f5;
$gray-2: #eee;
$gray-3: #404040;
$gray-4: #ccc;

$black: #000;

$white: #fff;
$blue-1: #1a65d6;
$blue-2: #436cde;
$red: #e10707;

$dark-gradient-1: rgb(50 50 50 / 100%) 0%, rgb(0 0 0 / 100%) 100%;
$disabled-text: #bdbdbd;
/* stylelint-enable scss/dollar-variable-empty-line-before */
