/* stylelint-disable scss/dollar-variable-empty-line-before */
$gray-1: #f5f5f5;
$gray-2: #eee;
$gray-3: #404040;
$gray-4: #ccc;
$gray-5: #7b7b7b;
$gray-6: #222;

$black: #000;

$white: #fff;
$blue-1: #1a65d6;
$blue-2: #436cde;
$blue-3: #7494ea;
$red: #e10707;

$green-1: #0a0;

$dark-opacity: rgb(0 0 0 / 30%);
$darker-opacity: rgb(0 0 0 / 50%);

$dark-gradient-1: rgb(50 50 50 / 100%) 0%, rgb(0 0 0 / 100%) 100%;
$dark-gradient-2: rgb(14 18 22 / 35%) 0 10px 38px -10px, rgb(14 18 22 / 20%) 0 10px 20px -15px;

$disabled-text: #bdbdbd;
/* stylelint-enable scss/dollar-variable-empty-line-before */
