.create-form-container--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.form {
  line-height: 1.5;
  width: 700px;

  &__section-header {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }

  &__input-label-container {
    margin-bottom: 0.5rem;
  }

  &__input-label {
    display: flex;
    font-size: 1rem;
    gap: 5px;

    &--required {
      color: $red;
      font-size: 1.2rem;
      font-weight: 500;
      vertical-align: middle;
    }

    &--disabled {
      opacity: 0.5;
    }
  }

  &__input-label-tooltip {
    display: inline-flex;
  }

  &__input-description {
    color: $gray-3;
    font-size: 0.8rem;
    font-weight: 400;

    &--disabled {
      opacity: 0.5;
    }
  }

  &__input-error-text {
    color: $red;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }

  input[type="text"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
  }

  input[type="text"],
  textarea,
  &__radio-container,
  select:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__field-wrapper {
    margin-bottom: 1rem;

    input[data-invalid] {
      outline: 1px solid $red;
    }
  }

  &__tooltip-item {
    display: flex;
    gap: 1rem;
    line-height: 1.25;
    padding-bottom: 5px;

    &__permission-title {
      flex: 0 0 25%;
    }

    &__encryption-title {
      flex: 0 0 35%;
    }
  }

  &__actions {
    margin: 2rem 0 2.5rem;
  }
}
