.monitor {
  &__page-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
  }

  &__grid-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  &__grid-item-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
  }

  &__video-placeholder {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__video-placeholder-icon {
    color: $white;
    height: 45px;
    position: absolute;
    width: 45px;
    z-index: 1;
  }

  &__video-frame {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .player-container {
    height: 100%;
    width: 100%;
  }

  &__grid-item-details {
    background: $gray-6;
    color: $white;
    display: flex;
    flex: 1;
    padding: 0.5rem 0.75rem;
  }

  &__grid-item-details-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__grid-item-details-bottom {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  &__grid-item-title {
    font-weight: 700;
  }

  &__grid-item-id {
    color: $gray-4;
    font-size: 0.6rem;
  }

  &__grid-item-status {
    font-size: 0.6rem;

    &--green {
      color: $green-1;
    }
  }

  &__grid-item-link {
    color: $blue-3;
    font-size: 0.6rem;
    max-height: 35px;
    max-width: 100%;
    overflow: hidden;
    text-align: right;
    width: 100%;
    word-break: break-word;
  }
}
